/*  your css code here. If applicable */

.hero {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 20px;
            text-align: center;
	        gap : 20px;
        }

        /* Image styling */
        .hero img {
            width: 100%;
            max-width: 600px;
            height: 300px;
            object-fit: cover;
            margin-top: 20px;
        }

        /* Button styling */
        .explore-btn {
            padding: 10px 20px;
            background-color: #28a745;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            margin-top: 20px;
            font-weight: bold;
        }
